
.container { display: inline-block;
             margin: 40px;

}


.container_ { display: inline-block;
			  margin-left: 80px;
              margin-right: 80px;
              margin-bottom: 80px;
              margin-top: 80px;
              padding-left: 100px;
              padding-right: 90px;
              padding-bottom: 30px;
              padding-top: 80px;
              border: solid 2px #25A25A;
              border-radius: 7px 7px 7px;
              box-shadow: -5px 5px 20px #b3b3b3;
}


.container_1 { margin-left: 0px;
               margin-right: 0px;
               margin-bottom: 80px;
               padding-top: 10px;
}


.container_2 { margin-left: 80px;
               margin-right: 80px;
               margin-bottom: 80px;
               margin-top: 80px;
               padding-left: 180px;
               padding-right: 90px;
               padding-bottom: 30px;
               padding-top: 80px;
               border: solid 2px #25A25A;
               border-radius: 7px 7px 7px;
               box-shadow: -5px 5px 20px #b3b3b3;
}


.container_3 { height: 2000px;
               margin-left: 80px;
               margin-right: 80px;
               margin-bottom: 80px;
               margin-top: 80px;
               padding-left: 100px;
               padding-right: 90px;
               padding-bottom: 30px;
               padding-top: 80px;
               border: solid 2px #25A25A;
               border-radius: 7px 7px 7px;
               box-shadow: -5px 5px 20px #b3b3b3; 
}


.container_1_1 { margin-left: 0px;
                 margin-right: 0px;
                 margin-bottom: 0px;
                 padding-top: 10px;
	
}


.container_0 { display: inline-block;
               margin: 40px 0px 0px 25px;
}


.container_01 { display: inline-block;
                margin: 40px 0px  50px 131px;
}


.container_02 { display: inline-block;
                margin-left: 15px;
                margin-top: 0px;
                margin-bottom: 100px;
}


.container_03 { display: inline-block;
                margin: 0px 0px 100px 45px;
}


.container_c { margin: 0 auto;
			   max-width: 1280px;
			   width: 90%;
}


#container { display: inline-block;
             margin-left: 0px;
             margin-right: 0px;
}


.cont { display: inline-block;
		width: 100%;
		margin-top: ;
}


.contem { display: inline-block;
		  width: ;
		  margin-left: 80px;
          margin-right: 80px;
          margin-bottom: 80px;
          margin-top: 40px;
          padding-left: 90px;
          padding-right: 90px;
          padding-bottom: 30px;
          padding-top: 80px;
          border: solid 0.5px #25A25A;
          border-radius: 7px 7px 7px;
          box-shadow:;
	
}


.cont_ { display: inline-block;
		 float: left;
		 text-align: justify;
		 margin-left: 0px;
         margin-right: 10px;
         margin-bottom: 20px;
         margin-top: -60px;
         padding: 30px;
         border: solid 0.5px grey;
         border-radius: 7px 7px 7px;
}


.cont_1 { display: inline-block;
		 float: left;
		 text-align: justify;
		 margin-left: 20px;
         margin-right: 0px;
         margin-bottom: 0px;
         margin-top: -60px;
         padding: 30px;
         border: solid 0.5px grey;
         border-radius: 7px 7px 7px;
}


.cont_2 { display: inline-block;
		 float: left;
		 text-align: justify;
		 margin-left: 30px;
         margin-right: 0px;
         margin-bottom: 0px;
         margin-top: -60px;
         padding: 30px;
         border: solid 0.5px grey;
         border-radius: 7px 7px 7px;
}


#coluna1 { border: solid #25A25A 1.5px;
           display: inline-block;
           float: left;
           margin: 1em;
           padding: 20px;
           width: 360px;
           height: 400px; 
           border-radius: 7px;
}


#coluna2 { border: solid #25A25A 1.5px;
           display: inline-block;
           float: left;
           margin-top: 1em;
           margin-right: 0.5em;
           margin-bottom: 1em;
           margin-left: 0.5em;
           padding: 20px;
           width: 360px;
           height: 400px;
           border-radius: 7px;
}


#coluna3 { border: solid #25A25A 1.5px;
           display: inline-block;
           float: left;
           margin: 1em;
           padding: 20px;
           width: 360px;
           height: 400px;
           border-radius: 7px;
}
