
* { box-sizing: border-box;
    margin:0;
}


.obs{ color: #25A25A;
      margin-top: 0px;
      padding-top: 0px;
      padding-bottom: 0px; 

 
}


body { font-family: cursive!important;
 
}


table { float: left;
        width: 100px;
        height: 100px;
        margin: 2em;
        border-collapse: collapse;
}



th, td { padding: 15px;

}

.th { color: white;
      border-radius: 7px 0px 0px 0px;
      background-color: #25A25A; 
}


.td { border-top: solid #25A25A 1px;
      border-right: solid black 1px;
      border-bottom: solid black 1px;
      border-left: solid black 1px;
}


.td2 { border-right: solid black 1px;
       border-bottom: solid black 1px;
       border-left: solid black 1px;
}


#column { display: inline-block;
          float: left;
          margin-top: 52px;
          margin-left: 20px;
          padding: 20px;
          width: 360px;
          height: 980px;
}



.icon_1 { margin: 0px;
		  padding: 10px;
          height: 50px;
          width: 50px;
          border: solid 1.5px #25A25A;
          border-radius: 7px 7px 7px;
}


.icon_1 a:hover { color: none;
 
}


.barra { height: 1px;
         border: 0;
         background-image: linear-gradient(90deg, transparent, #25A25A, transparent)
}


.parallax { background-image: url("../img/campus.jpg");
            min-height: 600px; 
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
}


.header { padding: 30px;
          text-align: center;
}



.center { text-align: center;
          margin-top: 0px;
          padding-top: 100px;
          font-size: 80px;
}


figure { float: left;
         width: 170px;
         height: 170px;
         text-align: center;
         font-size: smaller;
         text-indent: 0;
         margin: 4em;
         padding: 0.5em;
}


.figure_0_1 { float: left;
              width: 170px;
              height: 170px;
              text-align: center;
              font-size: smaller;
              text-indent: 0;
              margin: 2em;
              padding: 0px;
}


figcaption { color: #25A25A;
             margin-top: 20px;
}


.figcaption_0_1 { color: #25A25A;
                  margin-top: 0px;
                  margin-bottom: 20px;
}


.figcaption { color: blue;
              font-size: 20px;
              margin-top: 0px;
              padding-top: 0px;
              margin-bottom: 5px;
}


.estilofonte { font-family: fantasy;

}


.estilofonte::after { content: "IF";
                      color: #25A25A; 
}


.estilotexto { font-family: fantasy;
               text-align: center;
               color: black;
               font-size: 23px;
               font-weight: bold;
               margin-bottom: 18px;
}


.estilotexto::after { content:"  Lajes/RN";
                      color: black;
                      font-size: 24px;
                      font-weight: bold;
}


.header h1 { font-size: 50px;

}


.size { font-size: 25px;

}


.size_ { float: left;
         display: inline-block;
}


hr { margin-bottom: 30px;

}


h2 { text-align: center;
     margin: 15px;
     margin-top: 45px;
     text-shadow:
}


h3 { margin-left: -30px;
     margin-top: 20px;
     display: inline-block;
     color: #25A25A;
     text-shadow: 2px 2px 2px #888888;
     border-left: groove;
}

h4 { color: black;
	 margin-bottom: 1em;
	
}


h6 { font-family: fantasy;

}


.puma { height: auto;
        width: 130px;
        height: 130px;
        margin: 0px;
        border: solid #25A25A 1px;
        border-radius: 7px;

}


.puma1 { height: auto;
         width: 130px;
         height: 130px;
         margin: 0px;
         border: solid #25A25A 1px;
         border-radius: 7px;

}


.puma:hover{ width: 150px;
             height: 150px;
             box-shadow: -4px 4px 4px #b3b3b3;
             margin: 0px;
}


footer{ text-align: justify-all;
        margin: 50px 50px 0px 50px;
        font-weight: bold;
        color: #25A25A;

}


a { text-decoration: none;
	text-justify: center;

}


/*a.background:hover { background-color: #009933;

}*/


a:visited { text-decoration: none;

}


ul { text-align: justify;
     line-height: 1.5;
     font-size: 22px;
}

p { text-align: justify;
    line-height: 1.5;
    font-size: 20px;
    font-family: cursive;

}


.color{ font-family: fantasy;
        color: #25A25A;
        margin-top: 0px;
        padding-top: 0px;
        padding-bottom: 20px; 

 
}


.link { color: blue;

}


.link:hover { color: #25A25A;
              border: solid #25A25A 1px;
              padding-left: 7px;
              padding-right: 7px;
              padding-bottom: 3px;
              padding-top: 3px;
              border-radius: 15px;
              background-color: #25A25A;
              color: white;
              box-shadow: 4px 4px 4px #888888
}


.svdr { height: 50px;
        margin-top: 1px;
        margin-bottom: 1px;
}


.svdr:hover { background-color: lightgreen;
              color: white;
}
