<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<meta charset="utf-8">
	<title>ItaretIF/cadastro de aluno</title>
	<link rel="shortcut icon" href="img/icon2.png">
  	<link rel="stylesheet" type="text/css" href="estilo/img.css">
	<link rel="stylesheet" type="text/css" href="estilo/menus.css">
	<link rel="stylesheet" type="text/css" href="estilo/cadastroAluno.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</head>

<body>

	<div class="menu">
  		<a href="/">
        	<img class="icon_2" src="img/icon.png"></img>
      	</a>
	    <a href="/sobre" style="margin-top: 15px; text-decoration: none;">Sobre os criadores</a>
	    <a href="/login" style="margin-top: 15px; float: right; text-decoration: none;">Login</a>
  	</div>

	<div class="container__">
	<th:block th:include="mensagemValidacao"></th:block>
		<div class="cont2">
			<div class="descricao">
				<h1 class="h1" style="font-size: 3em;">Criado para alunos e professores do Campus Lajes, e curiosos<br>(no bom sentido, claro)</h1>
				<p>O ItaretIF que foi criado e desenvolvido pelas alunas: Ana Sara, Izamara e Maria Luiza,
				 e o aluno Willian Felipe. É um portal exclusivo para o Campus Avançado Lajes e traz as informações 
				 mais solicitadas e "importantes" da instituição de uma forma mais descontraída, dinâmica e moderna.
				</p>
			</div>
			<div class="boxi">
						
				<form action="/cadastroAluno" method="post">
					<div class="form-group">
						<label for="formGroupExampleInput">Nome completo</label>
						<input type="text" class="form-control" id="formGroupExampleInput" name="nome">
					</div>
					<div class="form-group">
						<label for="formGroupExampleInput2">Matrícula</label>
						<input type="text" class="form-control" id="formGroupExampleInput2" name="matricula">
						<small id="emailHelp" class="form-text text-muted">É sua matrícula do IF mesmo.</small>
					</div>
					<div class="form-group">
						<label for="exampleInputPassword1">Senha</label>
						<input type="password" class="form-control" id="exampleInputPassword1" name="senha">
					</div>
					
					<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
					
					<button type="submit" class="btn btn-success dimensoes">Cadastrar</button>
							  
					<div class="caixa2">
						<p>Já tem conta uma?! Então, <a href="/cadastro"> faça login.</a></p>
					</div>
							  
				</form>
			</div>
		</div>
	</div>
	
</body>
</html>