<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>ItaretIF</title>
	<link rel="shortcut icon" href="img/icon.png">
    <link rel="stylesheet" type="text/css" href="DPI.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>


</head>

<body>

	<nav class="navbar navbar-expand-lg navbar-light bg-light" style="box-shadow: -2px 2px 10px #b3b3b3;">
	  <a class="navbar-brand" href="#">
    		<img src="img/icon.png" width="30" height="30" alt="">
  	  </a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>
	
    </nav>
  	
	<div class="cont">
	
	<h1 class="color" style="text-align: center;"> Bem vindo, Administrador!</h1>
	<hr class="barra">
	
	<p>Esta é sua área, aqui você pode cadastrar novos administradores, servidores, plantas de novas construções do Campus e alterar, adicionar e apagar outras coisas do site.</p>
	
	
		<div class="cont_" style="margin-left: 80px;">
		
			<form>
				
				<h1 style="font-size: 18px; margin-bottom: 30px; color: green;">Cadastre um(a) nov@ Administrador(a):</h1>
				
				  <div class="form-group">
				    <label for="exampleFormControlInput1">Matrícula</label>
				    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Digite uma matrícula de 3 dígitos">
				  </div>
				  <div class="form-group">
				    <label for="exampleFormControlInput1">Senha</label>
				    <input type="password" class="form-control" id="exampleFormControlInput1" placeholder="Digite uma senha de 3 dígitos">
				  </div>
				  <button action="/cadastroAdmin" type="button" class="btn btn-outline-success" style="margin-left: 405px; margin-top: 10px;">Cadastrar</button>
			</form>
		
		</div>
	
		<div class="cont_">
		
			<form>
				
				<h1 style="font-size: 18px; margin-bottom: 30px; color: green;">Cadastre um(a) nov@ Servidodor(a):</h1>
				
				  <div class="form-group">
				    <label for="exampleFormControlInput1">Nome</label>
				    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Nome completo">
				  </div>
				  <div class="form-group">
				    <label for="exampleFormControlInput1">Descrição</label>
				    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Fale sobre o servidor">
				  </div>
				  <div class="form-group">
				    <label for="exampleFormControlInput1">Setor de trabalho</label>
				    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="">
				  </div>
				  <div class="form-group">
				    <label for="exampleFormControlInput1">Horário de trabalho</label>
				    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="">
				  </div>
				  <button action="/inicioAdmin" type="button" class="btn btn-outline-success" style="margin-left: 405px; margin-top: 10px;">Cadastrar</button>
			</form>
		
		</div>
  </div>
</body>

</html>