<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>ItaretIF</title>
	<link rel="shortcut icon" href="img/icon.png">
    <link rel="stylesheet" type="text/css" href="estilo/portal.css">
    <link rel="stylesheet" type="text/css" href="estilo/containers.css">
	<link rel="stylesheet" type="text/css" href="estilo/menus.css">
	<link rel="stylesheet" type="text/css" href="estilo/login.css">
	
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    
</head>

<body>
	<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light" style="box-shadow: -2px 2px 10px #b3b3b3;"> -->
	<!-- <a class="navbar-brand" href="#"> -->
    	<!-- <img src="img/icon.png" width="30" height="30" alt=""> -->
  	 <!-- </a> -->
	 <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> -->
	   <!-- <span class="navbar-toggler-icon"></span> -->
	  <!-- </button> -->
    <!-- </nav> -->

    		<div style="color: white;
				  background-color: #25A25A;
				  padding-top: 50px;
				  padding-bottom: 50px;
				  font-family: fantasy!important;
				  text-align: center!important;">
				<h1> Bem vindo, Administrador!</h1>
			</div>
			<form action="/logout" method="post" class="form-inline my-2 my-lg-0">
				<button type="submit" class="btn btn-outline-success">Sair</button>
					<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
			</form>
		
		<h1 style="color: #25A25A; font-family: fantasy; text-align: center; margin-bottom: 0px; margin-top: 20px;">Espaço para cadastros</h1>
		
	<div class="contem" style="display: inline-block;
		  width: ;
		  margin-left: 80px;
          margin-right: 80px;
          margin-bottom: 80px;
          margin-top: 40px;
          padding-left: 90px;
          padding-right: 90px;
          padding-bottom: 30px;
          padding-top: 80px;
          border:;
          border-radius: 7px 7px 7px;
          box-shadow:;">
	
		<div class="cont_" style="display: inline-block;
		 float: left;
		 text-align: justify;
		 margin-left: 0px;
         margin-right: 10px;
         margin-bottom: 20px;
         margin-top: -60px;
         padding: 30px;
         border: solid 0.5px grey;
         border-radius: 7px 7px 7px;">
		
			<form action="/admin/inicio" method="post">
				<h1 style="font-size: 22px; margin-bottom: 30px; color: #25A25A; font-family: fantasy!important;">Nov@ Administrador(a):</h1>
			      <div class="form-group">
		
				    <label for="Name">Nome:</label>
				    <input type="text" class="form-control" id="name" aria-describedby="name" name="nome">
		
				  </div>
				  
				  <div class="form-group">
		
				    <label for="Name">Matrícula:</label>
				    <input type="text" class="form-control" id="requeriment" aria-describedby="requeriment" name="matricula">
		
				  </div>
				  
				  <div class="form-group">
				  
				    <label for="Password">Senha:</label>
				    <input type="password" class="form-control" id="password" name="senha">
				    
				  </div>
				  
				  <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
		
				  <button type="submit" class="btn btn-outline-success dimensoes" style="width: 100%!important;">Cadastrar</button>
				      
		    </form>
	</div>
	
	<div class="cont_1" style="display: inline-block;
		 float: left;
		 text-align: justify;
		 margin-left: 20px;
         margin-right: 0px;
         margin-bottom: 0px;
         margin-top: -60px;
         padding: 30px;
         border: solid 0.5px grey;
         border-radius: 7px 7px 7px;">
         
			<form>
				<h1 style="font-size: 22px; margin-bottom: 30px; color: #25A25A; font-family: fantasy!important;">Nov@ Servidor(a):</h1>
			  <div class="form-row">
			    <div class="col-md-6 mb-3">
			      <label for="validationTooltip01">Primeiro nome</label>
			      <input type="text" name="nome" class="form-control" id="validationTooltip01">
			    </div>
			    <div class="col-md-6 mb-3">
			      <label for="validationTooltip02">Sobrenome</label>
			      <input type="text" name="sobrenome" class="form-control" id="validationTooltip02">
			    </div>
			  </div>
			  
			  <div class="form-row">
			  	<div style="width: 100%!important; margin-bottom: 15px;">
			      <label for="validationTooltip03">Horário de trabalho</label>
			      <input type="text" name="horarios" class="form-control" id="validationTooltip03">
			    </div>
			  </div>
			  
			  <div class="mb-3">
			    <label for="validationTextarea">Descrição</label>
			    <textarea class="form-control" id="validationTextarea" placeholder="Fale um pouco sobre o servidor"></textarea>
			  </div>

				  <button type="submit" class="btn btn-outline-success dimensoes" style="width: 100%!important;">Cadastrar</button>
			</form>
		  </div>
				
	</div>
		 
		 <div class="cont_2" style="display: inline-block;
								 	float: left;
								 	text-align: justify;
								 	margin-left: 30px;
						         	margin-right: 0px;
						         	margin-bottom: 0px;
						         	margin-top: -60px;
						         	padding: 30px;
						         	border: solid 0.5px grey;
						         	border-radius: 7px 7px 7px;">
			
				
		</div>
	
</body>

</html>