<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>ItaretIF</title>
	<link rel="shortcut icon" href="img/icon.png">
    <link rel="stylesheet" type="text/css" href="estilo/portal.css">
    <link rel="stylesheet" type="text/css" href="estilo/containers.css">
	<link rel="stylesheet" type="text/css" href="estilo/menus.css">
	<link rel="stylesheet" type="text/css" href="estilo/login.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</head>

<body>
	<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light" style="box-shadow: -2px 2px 10px #b3b3b3;"> -->
	<!-- <a class="navbar-brand" href="#"> -->
    	<!-- <img src="img/icon.png" width="30" height="30" alt=""> -->
  	 <!-- </a> -->
	 <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> -->
	   <!-- <span class="navbar-toggler-icon"></span> -->
	  <!-- </button> -->
    <!-- </nav> -->

    		<div style="color: white;
		  background-color: #008000;
		  padding-top: 50px;
		  padding-bottom: 50px;
		  font-family: fantasy!important;
		  text-align: center!important;">
				<h1> Bem vindo, Administrador!</h1>
				
				<form action="/logout" method="post" class="form-inline my-2 my-lg-0">
					<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Sair</button>
					<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
				</form>
			</div>
			
		
		<h1 style="color: green; font-family: fantasy; text-align: center; margin-bottom: 0px; margin-top: 20px;">Espaço para cadastros</h1>
		
	<div class="contem" style="display: inline-block;
		  width: ;
		  margin-left: 80px;
          margin-right: 80px;
          margin-bottom: 80px;
          margin-top: 40px;
          padding-left: 90px;
          padding-right: 90px;
          padding-bottom: 30px;
          padding-top: 80px;
          border: solid 0.5px green;
          border-radius: 7px 7px 7px;
          box-shadow:;">
	
		<div class="cont_" style="display: inline-block;
		 float: left;
		 text-align: justify;
		 margin-left: 0px;
         margin-right: 10px;
         margin-bottom: 20px;
         margin-top: -60px;
         padding: 30px;
         border: solid 0.5px grey;
         border-radius: 7px 7px 7px;">
		
			<form>
				<h1 style="font-size: 22px; margin-bottom: 30px; color: green; font-family: fantasy!important;">Nov@ Administrador(a):</h1>
				
				  <div class="form-group">
				    <label for="exampleFormControlInput1">Matrícula</label>
				    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Digite uma matrícula de 3 dígitos">
				  </div>
				  <div class="form-group">
				    <label for="exampleFormControlInput1">Senha</label>
				    <input type="password" class="form-control" id="exampleFormControlInput1" placeholder="Digite uma senha de 3 dígitos">
				  </div>
				  <button action="/cadastroAdmin" type="button" class="btn btn-outline-success dimensoes">Cadastrar</button>
			</form>
			
		</div>
		
		<div class="cont_1" style="display: inline-block;
		 float: left;
		 text-align: justify;
		 margin-left: 20px;
         margin-right: 0px;
         margin-bottom: 0px;
         margin-top: -60px;
         padding: 30px;
         border: solid 0.5px grey;
         border-radius: 7px 7px 7px;">
			<form>
				<h1 style="font-size: 22px; margin-bottom: 30px; color: green; font-family: fantasy!important;">Nov@ Servidodor(a):</h1>
				
				  <div class="form-group">
				    <label for="exampleFormControlInput1">Nome</label>
				    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Nome completo">
				  </div>
				  <div class="form-group">
				    <label for="exampleFormControlInput1">Descrição</label>
				    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Fale sobre o servidor">
				  </div>
				  <div class="form-group">
				    <label for="exampleFormControlInput1">Setor de trabalho</label>
				    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="">
				  </div>
				  <div class="form-group">
				    <label for="exampleFormControlInput1">Horário de trabalho</label>
				    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="">
				  </div>
				  <button action="/inicioAdmin" type="button" class="btn btn-outline-success dimensoes">Cadastrar</button>
			 </form>
		 </div>
		 
		 <div class="cont_2" style="display: inline-block;
		 float: left;
		 text-align: justify;
		 margin-left: 30px;
         margin-right: 0px;
         margin-bottom: 0px;
         margin-top: -60px;
         padding: 30px;
         border: solid 0.5px grey;
         border-radius: 7px 7px 7px;">
			<form>
				<h1 style="font-size: 22px; margin-bottom: 30px; color: green; font-family: fantasy!important;">Nov@ ###</h1>
				
				  <div class="form-group">
				    <label for="exampleFormControlInput1">###</label>
				    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="">
				  </div>
				  <div class="form-group">
				    <label for="exampleFormControlInput1">###</label>
				    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="">
				  </div>
				  <div class="form-group">
				    <label for="exampleFormControlInput1">###</label>
				    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="">
				  </div>
				  <div class="form-group">
				    <label for="exampleFormControlInput1">###</label>
				    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="">
				  </div>
				  <button action="/inicioAdmin" type="button" class="btn btn-outline-success dimensoes">###</button>
			 </form>
		 </div>
		
	</div>
	
</body>

</html>