<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>ItaretIF</title>
	<link rel="shortcut icon" href="img/icon.png">
  <link rel="stylesheet" type="text/css" href="estilo/DPI.css">


</head>
<body>
<div>
 <div class="parallax">
  
	<div id="menu">
    	<a href="Inicio.html">
        <img class="icon_1" src="img/icon.png"></img>
      </a>
    	<a class="background" href="O campus.html">O campus</a>
    	<a class="background" href="Regras.html">Regras</a>
    	<a class="background" href="Lajes.html">Lajes/RN</a>
      <a class="background" href="Mapeamento.html">Mapeamento</a>
      <a class="background" href="Sobre.html">Sobre nós</a> 	
    </div>

    <div class="center">
      <h1 class="estilofonte">Itaret</h1>
      <h6>O website perfeito para os leigos</h6>
      <p class="estilotexto"><big>Campus Avançado</big></p>
    </div>

 </div>

<div class="container_">
      <h1 class="color">Quem somos??</h1>
      <br>
    <p>
      Somos um website informativo! \o/
    </p>
    <br>
    <p>
      O ItaretIF é um website para a galera de dentro (principalmente pros calouros) e de fora do Campus, ainda Avançado, Lajes. Aqui, você tem acesso às informações "mais importantes", que são chatinhas de procurar no portal ou que nem tem no portal e você ainda não sabe exatamente onde encontrar, de uma maneira mais fácil, rápida e menos formal.      
    </p>

    <p>
    	Temos informações sobre os servidores, sobre a estrutura do Campus, sobre os institutos federais em geral e, a parte tensa: as regras e penalidades da instituição.
    </p>
    <br>
    <br>
        <span class="size">
          <h2 class="color"></i></h2>
          <hr class="barra">
        </span>
    <br>
    <br>
        <h1 class="color">Por que "ItaretIF"??</h1>
        <br>
    <p>
        Bom... nós quisemos fazer um "trocadilho" com o antigo nome da cidade e a sigla "IF". Entre os anos de 1943 e 1953, o nome da cidade de Lajes foi Itaretama. Esse nome foi dado porque a cidade tinha muita pedra (sim, isso mesmo que você leu). Tiramos o "ama" de "Itaretama" e colocamos o IF, e CHARAM! ItaretIF. \o/</p>
    <br>
    <p>
        É isto, galera. Esperamos que vocês encontrem o que buscam. Abraço!
    </p>


<footer>
       
</footer>
</div>
</html>