<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>ItaretIF</title>
	<link rel="shortcut icon" href="img/icon2.png">
  	<link rel="stylesheet" type="text/css" href="estilo/portal.css">
  	<link rel="stylesheet" type="text/css" href="estilo/img.css">
	<link rel="stylesheet" type="text/css" href="estilo/containers.css">
	<link rel="stylesheet" type="text/css" href="estilo/menus.css">
</head>
<body>

 <div class="parallax">
  
	<div id="menu">
    	<a href="/" class="navbar-brand">
        	<img class="icon_1" src="img/icon.png"></img>
      	</a>
    	<a class="background" href="/campus" style="margin-top: 20px;">O campus</a>
    	<a class="background" href="/regras" style="margin-top: 20px;">Regras</a>
    	<a class="background" href="/lajes" style="margin-top: 20px;">Lajes/RN</a>
      	<a class="background" href="/mapeamento" style="margin-top: 20px;">Mapeamento</a>
      	<a class="background" href="/projetos" style="margin-top: 20px;">Projetos</a>
      	<a class="background" href="/sobre" style="margin-top: 20px;">Sobre nós</a>
      	<a class="background" href="/cadastro" style="margin-top: 20px; float: right;">Cadastre-se!</a>
	    <a class="background" href="/login" style="margin-top: 20px; float: right;">Login</a> 	
    </div>

    <div class="center">
      <h1 class="estilofonte">Itaret</h1>
      <h6>O website perfeito para os leigos</h6>
      <p class="estilotexto"><big>Campus Avançado</big></p>
    </div>

 </div>

<div class="container_" style="margin-bottom: 80px;">
      <h1 class="texto" style="width: 265px;">Quem somos??</h1>
      <br>
    <p style="font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;">
      Somos um website informativo! \o/
    </p>
    <br>
    <p>
      O ItaretIF é um website para a galera de dentro (principalmente pros calouros) e de fora do Campus, ainda Avançado, Lajes. Aqui, você tem acesso às informações "mais importantes", que são chatinhas de procurar no portal ou que nem tem no portal e você ainda não sabe exatamente onde encontrar, de uma maneira mais fácil, rápida e menos formal.      
    </p>

    <p>
    	Temos informações sobre os servidores, sobre a estrutura do Campus, sobre os institutos federais em geral e, a parte tensa: as regras e penalidades da instituição.
    </p>
    <br>
    <br>
        
    <br>
    <br>
        <h1 class="texto" style="width: 330px;">Por que "ItaretIF"??</h1>
        <br>
    <p>
        Bom... nós quisemos fazer um "trocadilho" com o antigo nome da cidade e a sigla "IF". Entre os anos de 1943 e 1953, o nome da cidade de Lajes foi Itaretama. Esse nome foi dado porque a cidade tinha muita pedra (sim, isso mesmo que você leu). Tiramos o "ama" de "Itaretama" e colocamos o IF, e CHARAM! ItaretIF. \o/</p>
    <br>
    <p>
        É isto, galera. Esperamos que vocês encontrem o que buscam. Abraço!
    </p>
    <br>
    <br>
    <br>
</div>
</html>