<!DOCTYPE html>
<html lang="pt-BR">
<head>
	<title>O município</title>
	<link rel="shortcut icon" href="img/icon.png">
	<link rel="stylesheet" type="text/css" href="estilo/portal.css">
	<link rel="stylesheet" type="text/css" href="estilo/img.css">
	<link rel="stylesheet" type="text/css" href="estilo/containers.css">
	<link rel="stylesheet" type="text/css" href="estilo/menus.css">
</head>
<body>

	<div class="parallax">

		<div id="menu">
    		<a href="/">
        		<img class="icon_1" src="img/icon.png"></img>
      		</a>
    		<a class="background" href="/campus" style="margin-top: 20px;">O campus</a>
    		<a class="background" href="/regras" style="margin-top: 20px;">Regras</a>
    		<a class="background" href="/lajes" style="margin-top: 20px;">Lajes/RN</a>
      		<a class="background" href="/mapeamento" style="margin-top: 20px;">Mapeamento</a>
      		<a class="background" href="/sobre" style="margin-top: 20px;">Sobre nós</a>
  		</div>

  		<div class="center">
	      <h1 class="estilofonte">Itaret</h1>
	      <h6>O website perfeito para os leigos</h6>
	      <p class="estilotexto"><big>Campus Avançado</big></p>
        </div>

	</div>

		<div  class="container_">

			<center><h1 class="color">O município</h1></center>
			<hr class="barra">

			<img class="img2" src="img/O municipio.jpg">

			<div class="container_1">
			<p>O povoamento de lajes remonta ao início do século XIX, quando a localidade tornou-se um importante ponto de encontro e descanso de boiadeiros e fazendeiros que viajavam a negócios. Em 1914, com a chegada da estrada de ferro Sampaio Correia,  a cidade cresceu, transformando-se em município no mesmo ano.</p>

			<p>Passagem obrigatória para quem vai de Natal a Mossoró e vice-versa, o município é conhecido também por uma das paisagens marcantes do estado - o Pico do Cabugi, com 590m de altura.</p>

			<p>O setor do comércio e serviços domina a enconomia da cidade, sendo responsábvel por 78% do seu Produto Interno bruto (PIB). No campo, predominam os cultivos de milho e feijão, além da produção de mel e da criação de ovelhas, cabras e bois.</p>
			</div>
			
		</div>

</body>
</html>