<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Mapeamento</title>
	<link rel="shortcut icon" href="img/icon.png">
  	<link rel="stylesheet" type="text/css" href="DPI.css">
</head>

<body>

<div class="parallax">
		<div id="menu">
  			<a href="/">
        		<img class="icon_1" src="img/icon.png"></img>
      		</a>
  			<a class="background" href="/campus">O campus</a>
	    	<a class="background" href="/regras">Regras</a>
	    	<a class="background" href="/lajes">Lajes/RN</a>
	      	<a class="background" href="/mapeamento">Mapeamento</a>
	      	<a class="background" href="/sobre">Sobre nós</a>
  		</div>

  		<div class="center">
	      <h1 class="estilofonte">Itaret</h1>
	      <h6>O website perfeito para os leigos</h6>
	      <p class="estilotexto"><big>Campus Avançado</big></p>
  		</div>
</div>

	<div class="container_">

		<center><h1 class=color>Mapeamento</h1></center>
		<br>
		<hr class=barra>

<div class="container_02">
	<table style="margin-left: 140px;">
		<tr>
			<th class="th">Dependências acadêmicas</th>
			<th style="color: white; background-color: green; border-radius: 0px 7px 0px 0px; border-left: solid white 1px; border-bottom: green solid 1px; border-right: solid green 1px;">Total</th>
		</tr>
		<tr>
			<td class="td">Salas de aula</td>
			<td class="td2"></td>
		<tr>
			<td class="td2">Laboratórios</td>
			<td class="td2"></td>
		</tr>
		<tr>
			<td class="td2">Biblioteca</td>
			<td class="td2">1</td>
		</tr>
		<tr>
			<td class="td2">Unidades sanitárias</td>
			<td class="td2"></td>
		</tr>
	</table>

	<table> 
		<tr>
			<th class="th">Dependências administrativas</th>
			<th style="color: white; background-color: green; border-radius: 0px 7px 0px 0px; border-left: solid white 1px; border-bottom: green solid 1px; border-right: solid green 1px;">Total</th>
		</tr>
		<tr>
			<td class="td">Salas Adiministrativas</td>
			<td class="td2"></td>
		</tr>
		<tr>
			<td class="td2">Salas de reunião</td>
			<td class="td2">1</td>
		</tr>
		<tr>
			<td class="td2">Sala de videoconferência</td>
			<td class="td2">1</td>
		</tr>
		<tr>
			<td class="td2">Copa</td>
			<td class="td2"></td>
		</tr>
		<tr>
			<td class="td2">Unidades sanitárias</td>
			<td class="td2"></td>
		</tr>
	</table>

	<table>
		<tr>
			<th class="th">Dependências de uso comum</th>
			<th style="color: white; background-color: green; border-radius: 0px 7px 0px 0px; border-left: solid white 1px; border-bottom: green solid 1px; border-right: solid green 1px;">Total</th>
		</tr>
		<tr>
			<td class="td">Refeitório</td>
			<td class="td2">1</td>
		</tr>
		<tr>
			<td class="td2">Cantina</td>
			<td class="td2">1</td>
		</tr>
		<tr>
			<td class="td2">Setor de saúde</td>
			<td class="td2">1</td>
		</tr>
		<tr>
			<td class="td2">Auditório (208 lugares)</td>
			<td class="td2">1</td>
		</tr>
		<tr>
			<td class="td2">Área de vivência</td>
			<td class="td2">1</td>
		</tr>
		<tr>
			<td class="td2">Unidades sanitárias</td>
			<td class="td2"></td>
		</tr>
	</table>

	<table>
		<tr>
			<th class="th">Dependências para docentes</th>
			<th style="color: white; background-color: green; border-radius: 0px 7px 0px 0px; border-left: solid white 1px; border-bottom: green solid 1px; border-right: solid green 1px;">Total</th>
		</tr>
		<tr>
			<td class="td">Coordenação</td>
			<td class="td2"></td>
		</tr>
		<tr>
			<td class="td2">Salas pedagógicas/adm.</td>
			<td class="td2"></td>
		</tr>
		<tr>
			<td class="td2">Sala de estudo</td>
			<td class="td2">1</td>
		</tr>
		<tr>
			<td class="td2">Copa</td>
			<td class="td2"></td>
		</tr>
		<tr>
			<td class="td2">Unidades sanitárias</td>
			<td class="td2"></td>
	    </tr>
	</table>
</div>

<hr class=barra>
<center><h1 class= "color">Plantas:</h1></center>

		<div class=container_01 style="margin-left: 140px;">
			<figure class="figure_0_1">
				<a href="/planta1"><img class="puma" src="img/Planta.jpg"></a>
				<figcaption>Planta Geral</figcaption>
			</figure>

			<figure class="figure_0_1">
				<a href="/planta2"><img class="puma" src="img/princial1.jpg"></a>
				<figcaption>Prédio principal</figcaption><figcaption class="figcaption_0_1">primeiro piso</figcaption>
			</figure>

			<figure class="figure_0_1">
				<a href="/planta3"><img class="puma" src="img/principal2.jpg"></a>
				<figcaption>Prédio principal</figcaption><figcaption class="figcaption_0_1">segundo piso</figcaption>
			</figure>

			<figure class="figure_0_1">
				<a href="/planta4"><img class="puma" src="img/principal3.jpg"></a>
				<figcaption>Prédio principal</figcaption><figcaption class="figcaption_0_1">terceiro piso</figcaption>
			</figure>

			<figure class="figure_0_1">
				<a href="/planta5"><img class="puma" src="img/anexo1.jpg"></a>
				<figcaption>Anexo</figcaption><figcaption class="figcaption_0_1">primeiro piso</figcaption>
			</figure>
		</div>

		<div class="container_03" style="margin-left: 140px;">
			<figure class="figure_0_1">
				<a href="/planta6"><img class="puma" src="img/anexo2.jpg"></a>
				<figcaption>Anexo</figcaption><figcaption class="figcaption_0_1">segundo piso</figcaption>
			</figure>

			<figure class="figure_0_1">
				<a href="/planta7"><img class="puma" src="img/anexo3.jpg"></a>
				<figcaption>Anexo</figcaption><figcaption class="figcaption_0_1">terceiro piso</figcaption>
			</figure>
		</div>

	</div>

</body>

</html>