<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Planta geral do Campus</title>
	<link rel="shortcut icon" href="img/icon.png">
  	<link rel="stylesheet" type="text/css" href="DPI.css">
</head>

<div class="parallax">
		<div id="menu">
  			<a href="/">
        		<img class="icon_1" src="img/icon.png"></img>
      		</a>
  			<a class="background" href="/campus">O campus</a>
	    	<a class="background" href="/regras">Regras</a>
	    	<a class="background" href="/lajes">Lajes/RN</a>
	      	<a class="background" href="/mapeamento">Mapeamento</a>
	      	<a class="background" href="/sobre">Sobre nós</a>
  		</div>

  		<div class="center">
	      <h1 class="estilofonte">Itaret</h1>
	      <h6>O website perfeito para os leigos</h6>
	      <p class="estilotexto"><big>Campus Avançado</big></p>
  		</div>
</div>

<body>

<div class="container_">

	<center><h1 class="color">Prédio principal - Primeiro piso</h1></center>
	<hr class="barra">

	<div class="container_0_1">
		<img src="img/princial1.jpg">
	</div>

	<hr class=barra>
	<center><h1 class= "color">Plantas:</h1></center>

	<div class=container_01>

		<figure class="figure_0_1">
			<a href="/planta1"><img class="puma" src="img/Planta.jpg"></a>
			<figcaption>Planta Geral</figcaption>
		</figure>

		<figure class="figure_0_1" style="margin-top: 0px;">
			<figcaption class="figcaption">Você está aqui!</figcaption>
			<img class="puma1" src="img/princial1.jpg" style="border: blue solid 3px;">
			<figcaption class="figcaption" style="margin-top: 10px;">Prédio principal</figcaption><figcaption class="figcaption figcaption_0_1">primeiro piso</figcaption>
		</figure>

		<figure class="figure_0_1">
			<a href="/planta3"><img class="puma" src="img/principal2.jpg"></a>
			<figcaption>Prédio principal</figcaption><figcaption class="figcaption_0_1">segundo piso</figcaption>
		</figure>

		<figure class="figure_0_1">
			<a href="/planta4"><img class="puma" src="img/principal3.jpg"></a>
			<figcaption>Prédio principal</figcaption><figcaption class="figcaption_0_1">terceiro piso</figcaption>
		</figure>

		<figure class="figure_0_1">
			<a href="/planta5"><img class="puma" src="img/anexo1.jpg"></a>
			<figcaption>Anexo</figcaption><figcaption class="figcaption_0_1">primeiro piso</figcaption>
		</figure>
	</div>

	<div class="container_03">
			<figure class="figure_0_1">
				<a href="/planta6"><img class="puma" src="img/anexo2.jpg"></a>
				<figcaption>Anexo</figcaption><figcaption class="figcaption_0_1">segundo piso</figcaption>
			</figure>

			<figure class="figure_0_1">
				<a href="/planta7"><img class="puma" src="img/anexo3.jpg"></a>
				<figcaption>Anexo</figcaption><figcaption class="figcaption_0_1">terceiro piso</figcaption>
			</figure>
		</div>

</div>

</body>

</html>