<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <title>Projetos</title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="shortcut icon" href="/img/icon2.png">
  	<link rel="stylesheet" type="text/css" href="/estilo/projetosDetails.css">
</head>
<body>

    <header>
       <div class="menu">
	    	<a href="/" class="navbar-brand">
	        	<img class="icon_2" src="/img/icon.png"></img>
	      	</a>
	      	<a href="/serv/novoprojeto" class="btn btn-success a2" role="button">Novo Projeto</a>
	    </div>

    </header>
	<div class="section">
	    <main>
	    <div class="container"  style="width: 60%; padding-top: 100px; padding-bottom: 30px;">
	        <nav aria-label="breadcrumb">
	            <ol class="breadcrumb" style="background-color: transparent; padding-left: 0px;">
	                <li class="breadcrumb-item"><a href="/projetos">Projetos</a></li>
	                <li class="breadcrumb-item active" aria-current="page">Projeto</li>
	            </ol>
	        </nav>
	        
	        <article class="contem">
	            <h1 class="card-title" style="font-weight: bold;color: #A32E25; margin-bottom: 20px;"><span th:text="${projetos.titulo}"></span></h1>
	            <p class="card-subtitle mb-2 text-muted">
	                <i class="material-icons">person_outline</i>
	                <span th:text="${projetos.autor}"></span>
	                <br>
	            </p>
	            <section>
	                <p class="card-text" style="margin-top: 40px;"><span th:utext="${projetos.descricao}"></span></p>
	            </section>
	            
	            <a th:href="${(#mvc.url('CP#deletarProjeto').arg(0, projetos.id)).build()}">
	            	<button type="button" class="btn btn-outline-danger">
						<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-x-circle-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
							<path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
						</svg>   Deletar projeto
					</button>
	            </a>
	            <a th:href="@{/editarProjeto/{id} (id=${projetos.id})}">
					<button type="button" class="btn btn-outline-success" style="border-color: #25A25A!important;">
						<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil-square" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
							<path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
								<path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
							</svg>  Editar
	        		</button>
				</a>
	        </article>
	      </div>
	    </main>
	   </div>

</body>
</html>
