<!DOCTYPE html>
<html lang="pt-br">
<head>
	
	<meta charset="utf-8">
	<title>Regras</title>
	<link rel="shortcut icon" href="img/icon.png">
	<link rel="stylesheet" type="text/css" href="DPI.css">

</head>

<body>

<div class="parallax">

	<div>
		<div id="menu">
  			<a href="/">
        		<img class="icon_1" src="img/icon.png"></img>
      		</a>
  			<a class="background" href="/campus">O campus</a>
	    	<a class="background" href="/regras">Regras</a>
	    	<a class="background" href="/lajes">Lajes/RN</a>
	      	<a class="background" href="/mapeamento">Mapeamento</a>
	      	<a class="background" href="/sobre">Sobre nós</a>
  		</div>
  	</div>

  	<div class="center">
      <h1 class="estilofonte">Itaret</h1>
      <h6>O website perfeito para os leigos</h6>
      <p class="estilotexto"><big>Campus Avançado</big></p>
    </div>
</div>

<div class="container_">

	<div id="menun">
		<a class="newbg" href="#351">Direitos dos alunos</a>
		<a class="newbg" href="#352">Deveres dos alunos</a>
		<a class="newbg" href="#353">Faltas disciplinares</a>
		<a class="newbg" href="#354">Penalidades por faltas</a>
		<a class="newbg" href="#fardamento">Regras de fardamento</a>
    </div>

	    <span class="size">
			<h2 class="color">Normas do Instituto</i></h2>
			<hr class="barra">
	    </span>

	<div class="container_1">
		<p><b>IMPORTANTE:</b> Segundo o Art. 350 do Capítulo XVI do Título III do Desenvolvimento do Ensino, da página 75 da Organização Didática do IFRN, a aplicação de medidas disciplinares deve ser feita sob o princípio de que esta é uma prática educativa, sendo <i>garantido</i> amplo direito de defesa aos que nela forem envolvidos.</p>
		<br>

		<p id="351">Resumindo e simplificando: Se eles acharem que a punição é necessária, eles te punirão, mas você tem o direito de tentar se defender. c:</p>
		<br>
		<br>
		<br>

			<center><h1 class="color" style="padding-left: 80px;">É <b>DIREITO</b> de vocês:</h1></center>

	<div id="container">
		<div id="coluna1" class="margemColuna">
			<p>Receber educação de qualidade;<br><br>
			Quando se sentirem prejudicados, exigir, da instituição, seus interesses caso eles sejam verdadeiros e permitidos;<br><br>
			Recorrer a ETEP ou a Direção Acadêmica (DIAC) do Campus quando tiverem dificuldades que interfiram na sua aprendizagem.
		    </p>
		</div>

		<div id="coluna2">
			<p>
			Organizar entidades estudantis para representação e intermediação de questões que seja do interesse da maioria, ou de todos, bem como participar delas;<br><br>
			participar de órgãos colegiados do IFRN, de acordo com seus respectivos regimentos.
			</p>
	    </div>

		<div id="coluna3">
			<p>Receber tratamento médico, odontológico, fisioterápico, nutricional e psicossocial quando deles necessitar. Claro que sabendo das normas e limites do instituto;<br><br>
			Candidatar-se a benefícios e serviços oferecidos pelo IFRN, como auxílio alimentação e transporte.
			</p>
		</div>
	</div>

	<div id="container">
		<div id="coluna1" class="margemColuna"> 
			<p>Submeter-se, no máximo, a duas atividades avaliativas (provas) no mesmo dia, ao final de cada bimestre;<br><br>
			Solicitar reposição de prova através de requerimento ao Diretor Acadêmico ou Coordenador do Curso dentro do prazo de 02 (dois) dias letivos, a contar do dia que vocês voltaram a ir à instituição.
			</p>
		</div>

		<div id="coluna2">
			<p>Justificar a ausência a atividades escolares (A maioria dos professores são gente boa. As vezes, apenas falar com eles já dá certo. Porém, é sempre bom ir na Direção Acadêmica e pegar um requerimento);<br><br>
			Realizar as atividades escolares caso você tenha faltado às aulas, mas tenha ido justificar sua falta por meio do requerimento.
			</p>
		</div>

		<div id="coluna3">
			<p>Poder assitir aula, ou fazer as atividades, mesmo quando chegar atrasado, no limite de 10 minutos para o primeiro horário de aula. Não há tolerância para atraso nos outros horários;<br><br>
			trancar matrícula ou pedir transferência, obedecendo às normas estabelecidas pela Organização Didática.
			</p>
		</div>
	</div>


	<div id="container">
		<div id="coluna1" class="margemColuna">
			<p>Apresentar sugestões que possam melhorar a instituição e a qualidade do ensino-aprendizagem;<br><br>
			Utilizar as dependências de ensino do Campus;
			</p>
		</div>

		<div id="coluna2">
			<p>Participar de atividades pedagógicas, desportivas, culturais, científicas, tecnológicas e recreativas organizadas pelo Campus;<br><br>
			Ser considerado e valorizado em sua individualidade.
			</p>
		</div>

		<div id="coluna3">
			<p>Ser respeitado em suas convicções e diferenças, sem sofrer qualquer espécie de preconceito quanto a raça, sexo, condição sexual, nacionalidade, cor, idade, religião, posição política e social;<br><br>
			Quando novatos, serem recebidos de forma simpática e afetuosa, sem qualquer tipo de constrangimento.
			</p>
		</div>
	</div>
	<hr class="barra">

			<center><h1 class="color" style="padding-left: 80px;" id="352">É <b>DEVER</b> de vocês:</h1></center>

			<div id="container">
				<div id="coluna1" class="margemColuna">
					<p>Respeitar e obedecer as regras da instituição;
					Respeitar e cumprir as decisões e orientações dos órgãos colegiados da instituição;<br><br>
					Ser pontual e não faltar com suas obrigações às atividades de ensino-aprendizagem programadas;<br><br>
					</p>
				</div>

				<div id="coluna2">
					<p>Portar-se com respeito nos espaços do Campus, de acordo com os conjuntos das normas e padrões da ética e da moral;<br><br>
					Se responsabilizar pelos prejuízos causados aos bens patrimoniais da instituição. Exemplo: Se você tiver quebrado a tampa da lixeira, com um soco, como Nanikka, por exemplo, você tem que pagar (kskskk).
					</p>
				</div>
						
					<div id="coluna3">
						<p>Respeitar prazos, normas e leis que foram estabelecidas e ordenadas pela instituição;<br><br>
						Comparecer ao instituto e nele permanecer com roupas adequadas, de acordo com o que a Diretoria do Campus estabeleceu como "adequado".
						</p>
					</div>
			</div>

			<div id="container">
					<div id="coluna1">
						<p>Não utilizar telefone celular ou equipamentos eletrônicos e de comunicação durante as aulas. A não ser que lhe foi autorizado;<br><br>
						Não permanecer nos corredores e nas escadas da instituição durante as aulas;<br><br>
						</p>
					</div>

					<div id="coluna2">
						<p>Cooperar para manter o prestígio e o bom nome do IFRN. Não se envolvam em "escândalos" fora da insituição, utilizando a farda ou qualquer outro indicador que faça referência a instituição, em horário de atividade da mesma. Isso mancha o nome da instituição. Aliás, não se envolvam em escândalos em momento algum, caso possível!
						<p>
					</div>

					<div id="coluna3">
						<p>Tratar com educação e respeito todas as pessoas na instituição;<br><br>
						Contribuir para a manutenção da limpeza das dependências do instituto;<br><br>
						Colaborar para a conservação do prédio, do mobiliário e de todo material de uso coletivo, zelando pelo patrimônio da instituição.
						<p>
					</div>
			</div>
			<hr class="barra">

			<center><h1 class="color" style="padding-left: 80px;" id="353">São consideradas faltas disciplinares:</h1></center>
			
			<div id="container">
				<div id="coluna1">
					<p>Ficar bagunçando nos ambientes da instituição;<br><br>
					Causar, intencionalmente, danos de qualquer natureza ao patrimônio da instituição;<br><br>
					Levar, para a instituição, armas, materiais inflamáveis, explosivos de qualquer natureza ou objeto que represente perigo para si e/ou para a comunidade escolar.
					</p>
				</div>

				<div id="coluna2">
					<p>Ofender, provocar, desacatar ou desrespeitar qualquer pessoa no ambiente da instituição;<br><br>
					Agredir e/ou xingar qualquer pessoa no ambiente da instituição;<br><br>
					Falar palavrão ou sair pichando eles em qualquer lugar da instituição.</p>
				</div>

				<div id="coluna3">
					<p>Fazer algo que possa danificar a dignidade humana, causando danos físicos e/ou morais à integridade de outros, nas dependências da instituição, mesmo que alguém esteja te apoiando;<br><br>
					Quebrar, ou roubar, objetos que não são seus;</p>
				</div>
			</div>

			<div id="container">
				<div id="coluna1">
					<p>Organizar qualquer forma de arrecadação de dinheiro, distribuir impressos, divulgar folhetos, fazer exibições ou comunicações públicas utilizando o nome da instituição sem a autorização da Diretoria.
					</p>
				</div>

				<div id="coluna2">
					<p>
					Forjar ou alterar textos de documentos da instituição;<br><br>
					Usar de meios ilegais ou praticar menitira, agindo de forma fraudulenta e antiética para realizar trabalhos escolares ou para tirar vantagem, seja ela no que for, em benefício próprio ou de terceiros.</p>
				</div>

				<div id="coluna3">
					<p>Leavar e/ou utilizar qualquer tipo de droga ou bebida alcoólica na instituição;<br><br>
					Ir bêbado pro IF ou em estado de sonolência por ter usado drogas (E não estamos falando dos da farmácia, que tu compra pra se curar de alguma doença).</p>
				</div>
			</div>
			<hr class="barra">
			
		
				<center><h1 class="color" style="padding-left: 80px;" id="354">Se vocês cometerem faltas disciplinares estarão sujeitos às seguintes penalidades:<h1></center>
				
				<div class="container_03">

					<figure style="margin: 2em;">
		      		  <img id="criador" src="img/advertencia.jpg">
              		  <figcaption>Advertência</figcaption>
            		</figure>

		            <figure style="margin: 2em;">
				      <img id="crd" src="img/repreensao.jpg">
		              <figcaption>Repreensão</figcaption>
		            </figure>

		            <figure style="margin: 2em;">
				      <img id="crd" src="img/suspensao.jpg">
		              <figcaption>Suspensão das atividades escolares</figcaption>
		            </figure>

		            <figure style="margin: 2em;">
				      <img id="crd" src="img/se.jpg">
		              <figcaption>Cumprimento de medidas socioeducativas</figcaption>
		            </figure>
	
					<figure style="margin: 2em;">
				      <img id="crd" src="img/cm2.jpg">
		              <figcaption>E, por último, mas não menos aterroriaznte, o cancelamento da sua matrícula!</figcaption>
		            </figure>
		        </div>
		<div id="container">
				<hr class="barra">
				<center><h1 class="color" id="fardamento">Quanto ao fardamento de vocês:</h1></center>

					<figure style="margin: 8em;">
		      		  <img id="crd" src="img/farda.jpg">
              		  <figcaption>Camiseta da instituição, disponível pra comprar em qualquer um dos campi.</figcaption>
            		</figure>

		            <figure style="margin: 8em;">
				      <img id="crd" src="img/jeans.jpg">
		              <figcaption>Calça jeans não-colorida</figcaption>
		            </figure>

		            <figure style="margin: 8em;">
				      <img id="crd" src="img/tenis.jpg">
		              <figcaption>Tênis</figcaption>
		            </figure>

				<div id="container">
		            <p style="margin-left:200px; margin-top: 20px; color: green;"><b>Obs: Não é permitido personalizar o fardamento!<b></p>
		        </div>
		</div>
		<br><br><br><br>
		<hr class="barra" style="margin-top: 100px;">

	<footer>
		<h4 class="c">REFERÊNCIAS</h4>
		NORTE, Instituto Federal de Educação, Ciência e Tecnologia do Rio Grande do (Org.). <b>Organização Didática do IFRN.</b> Natal-RN: Editora do IFRN, 2012. 78 p. v. 3.
	</footer>

    </div>
</div>
</body>

</html>