
<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
       xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<title>Setores</title>
	<meta charset="UTF-8">
</head>
<body>
	<h1>Lista de Setores</h1>
	<h3><a href="/cadastrarSetor">Cadastrar Setor</a></h3>
	
<div class="container">
	<div th:each="setor : ${setores}">
		<div class="row">
			Nome:<p><span th:text="${setor.nome}"></span></p>
			Descrição:<p><span th:text="${setor.descricao}"></span></p>
<!-- 			<p><span th:text="${Descricao.}"></span></p> -->
		</div>	
	</div>
</div>

</body>


</html>

