<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>ItaretIF</title>
	<link rel="shortcut icon" href="img/icon.png">
  <link rel="stylesheet" type="text/css" href="DPI.css">


</head>

<body>

<div>
 <div class="parallax">
	<div id="menu">
    	<a href="Inicio.html">
            <img class="icon_1" src="img/icon.png"></img>
        </a>
    	<a class="background" href="O campus.html">O campus</a>
        <a class="background" href="Regras.html">Regras</a>
        <a class="background" href="Lajes.html">Lajes/RN</a>
        <a class="background" href="Mapeamento.html">Mapeamento</a>
        <a class="background" href="Sobre.html">Sobre nós</a>
  	</div>

  	<div class="center">
      <h1 class="estilofonte">Itaret</h1>
      <h6>O website perfeito para os leigos</h6>
      <p class="estilotexto"><big>Campus Avançado</big></p>
    </div>
 </div>

    <div class="container_">
    		<center><h1 class="color">Criadores e desenvolvedores</h1></center>
    		<br>
    		<br>
    	<p>Nós, Ana Sara, Evalter Tallyz, Maria Luiza Silva (Nanikka) e Willian Felipe (Will, para os mais íntimos) somos os criadores deste site. Fomos alunos do Campus em questão (Lajes), na modalidade técnico-integrado (preciso nem dizer qual o curso, né?!), e se hoje estamos formados, é graças a tudo isso aqui.</p>
    	<p>A ideia do projeto surgiu a partir do Desenvolvimento do Projeto Integrador (DPI, matéria técnica), que é uma das disciplinas do nosso curso. Dentre inúmeras possibilidades, resolvemos trabalhar com um site que trouxesse as informações que já estão expostas em todo o portal.</p>
    	<p>Se você pode ver e utilizar tudo isso aqui, isso significa que conseguimos! O nosso projeto deu certo. E é um prazer para toda nossa equipe que você possa desfrutar de tudo isso!</p>

    	<div class="container_0">

            <figure>
		      <a href="https://www.instagram.com/ana.sara1417/"><img class="criador" src="img/nasara.png"></a>
              <figcaption>@ana.sara1417</figcaption>
            </figure>

            <figure>
		      <a href=""><img class="criador" src="img/evalter.png"></a>
              <figcaption>@z370047t3</figcaption>
            </figure>

            <figure>
		      <a href="https://www.instagram.com/nanikka_03/"><img class="criador" src="img/nanikka.png"></a>
              <figcaption>@nanikka_03</figcaption>
            </figure>

            <figure>
		      <a href="https://www.instagram.com/wklzz/"><img class="criador" src="img/will.png"></a>
              <figcaption>@wklzz</figcaption>
            </figure>

		</div>
    </div>

</body>

</html>